.banner{
    display: flex;
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 22%;
   
}
.bannertext{
    text-align: right;
    
}
.banner-description{
    padding-left: 70%;
    text-align: right;
    width: 30%;
    
}


.btn1{
    
  font-weight: 200;
  font-size: 9px;
  border: 0;
  color: #ffffff;
  height: 7px;
  border-radius: 5px;
  background-color: #fd6e0a;
  padding: 10px 15px;
}
#p1{
    font-weight: 900;
}

.failurepart{
    display: flex;
    align-items: center;
    
}
.failure-description{
    width: 30%;
    align-items: center;
    text-align: left;
}
ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
  }
/* plan part */
.plan-title{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
font-size: 18px;
font-size: large;

}
.plans{
    padding: 19%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}
/* gradient part */

#grad {
    width: 1140px;
    height: 300px;
    margin-top: 150px;
    justify-content: center;
    margin-left: 230px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    margin-bottom: 150px;
  }
#grad h1{
    color:white;
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 94px;
    text-align: left;
    margin: 60px 620px 25px 65px;

  }

/* enging part */
.last{
    display: flex;
    background-color: black;
}
.text{
    color: #ffffff;
    width: 30%;
    
}
.text2{
    padding-left: 30%;
    color: #ffffff;
    
}
#btn2{
    padding: 16px 20px;
  background: #ffffff;
  border-radius: 5px;
  color: #F15B22;
  font-weight: 600;
  font-size: 12px;
  font-display: center;
  border: none;
  width: 120px;
  height: 12px;
  margin-left: 60px;


}
/* #btn2{
    font-weight: 300;
    font-size: 15px;
    border: 0;
    color: #fd6e0a;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff ;
    padding: 11px 15px;
} */